@use 'styles' as s;

.wrapper {
  width: 100vw;
  height: s.$header-height;
  border-bottom: 1px solid white;
  background: s.$primary-background;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 300px;
  padding: 0 50px;
  flex-grow: 1;
}

title {
  width: 500px;
  flex-grow: 1;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
}
